
<header>
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a routerLink="home"><span class="span-nav">S</span>unny & <span class="span-nav">V</span>incent</a></div>
            <ul class="menu-list">
                <!-- EL icono  para q al tocar se cierre el nav en menos de 868 px-->
                <div class="icon cancel-btn">
                <i class="fas fa-times"></i>
                </div> 
                <li> <a routerLink="home">Home</a></li>
                <li> <a routerLink="nosotros">Nosotros</a></li>
                <li> <a routerLink="galeria">Galería</a></li>
                <li> <a routerLink="contacto">Contacto</a></li>
                <li class="li-login"><a routerLink="login">Log In</a></li>
            </ul>
        <!-- EL icono  para q al tocar se despliegue el nav en menos de 868 px-->
        <div class="icon list-btn">
            <i class="fas fa-list"></i>
        </div>
        </div>
    </nav>
</header>
