
<main class="main-gallery">
    <div class="pre-gallery">
        <div class="title-gallery">
        <div class="title-ga"><h4><i> <span>G</span>alería de <span>I</span>mágenes</i></h4></div>
    </div> 
    </div>
    <div class="container-gallery"> <!-- Galeria de Imagenes -->
        <div class="row-gallery">
            <div class="column-gallery">
                <img src="./assets/img/cortada.jpg" alt="">
                <img src="./assets/img//31956549_487688844980270_1537275104268910592_o_487688831646938.jpg" alt="">
                <img src="./assets/img//13105996_10208182418090972_979065130_o.jpg" alt="">
                <img src="./assets/img//61238503_717624431986709_7158572432062676992_n_717624425320043.jpg" alt="">
                <img src="./assets/img//debora 1.jpg" alt="">
                <img src="./assets/img//82135910_890971927985291_3200660627420872704_n_890971924651958.jpg" alt="">
            </div>
            <div class="column-gallery">
                <img src="./assets/img/entre rios 3.jpg">
                <img src="./assets/img/debora 4.jpg" alt="">
                <img src="./assets/img/entre rios 1.jpg" alt="">
                <img src="./assets/img/46976949_621088428306977_6992848971462868992_o_621088421640311.jpg" alt="">
                <img src="./assets/img/81890210_890971824651968_8762740037059084288_n_890971821318635.jpg" alt="">
                <img src="./assets/img/23916066_10214213225233477_9025599939807701065_n.jpg" alt="">
            </div>
            <div class="column-gallery">
                <img src="./assets/img/nadia 2.jpg" alt="">
                <img src="./assets/img/imagen6.jpg" alt="">
                <img src="./assets/img/13064070_10208182411250801_2044756399_o.jpg" alt="">
                <img src="./assets/img/imagen12.jpg" alt="">
                <img src="./assets/img/telli.jpg" alt="">
                <img src="./assets/img/62505483_731915223890963_3972009154322628608_o_731915207224298.jpg" alt="">
            </div>
            <div class="column-gallery">
                <img src="./assets/img/72953262_818081358607682_4553491925985918976_n_818081351941016.jpg" alt="">
                <img src="./assets/img/debora 3.jpg" alt="">
                <img src="./assets/img/entr rios 2.jpg" alt="">
                <img src="./assets/img/viny.jpg" alt="">
                <img src="./assets/img/28309015_2044798599139089_202311326_n.jpg" alt="">
                <img src="./assets/img/otra video.jpg" alt="">
            </div>
            </div>
        </div> 
        
        
</main>