
<body>
<main class="main-index">                                                                             
    <div class="banner"></div>
        <div class="title-flex">
            <div class="title-index"><h3><i> <span class="span-index">S</span>ervicio de translado Para <span class="span-index">B</span>odas y <span class="span-index">E</span>ventos</i></h3></div> 
        </div>
        <hr>
    <div class="container-card">
        <div class="card">
            <figure>
                <img src="./assets/img/LOS DOS .jpg" alt=""> 
            </figure>
            <div class="content-card">
                <h3>¿<span class="span-cards">Q</span>ué <span class="span-cards">O</span>frecemos?</h3>
                <p>Ofrecemos un servicio que consiste principalmente en el translado en automóvil de personas 
                    ya sea para bodas o cumpleaños de XV, o, el alquiler de los vehículos para sesiones fotográficas o para su exposición.
                    Ve a <a href="/views/nosotros.html">Nosotros</a> para más información.</p>
            </div>
        </div>
        <div class="card">
            <figure> <img src="./assets/img/subby 4.jpg" alt=""> </figure>
            <div class="content-card">
                <h3><span class="span-cards">D</span>isponibilidad y <span class="span-cards">P</span>recios</h3>
                <p>Los precios y la disponibilidadad deben consultarse; Los presupuestos se calculan de acuerdo a las distancias que debamos transportarnos 
                    y el tiempo en que el vehiculo estara disponible para el evento.
                    <a href="/views/contacto.html">Contáctanos</a> para consultar precios, disponibilidad y reservar el servicio para tu evento!.</p>
            </div>
        </div>
        <div class="card">
            <figure> <img src="./assets/img/IMG_3557 (1).JPG" alt=""> </figure>
            <div class="content-card">
                <h3>¿<span class="span-cards">P</span>orqué <span class="span-cards">E</span>legirnos?</h3>
                <p>  Somos fanaticos de nuestros autos.
                Disfrutamos al ver la alegria de nuestros clientes al compartir la experiencia con nosotros, sorprenderse y
                hasta emocionarse al ver la reacion de la gente al vernos pasar, sin dudas una experiencia inolvidable.
                Años de experiencia y clientes convertidos hoy en amigos nos avalan.
                </p>
            </div>
        </div>   
    </div>
</main>
</body>
