
<main>
    <div class="container-contact">
        <form class="form-contact">
            <div class="row">
                <div class="input-contact">
                    <input type="text" minlength="2" maxlength="30" required>
                    <label for="nombre-contacto"><i class="fas fa-user"></i> Nombre:</label>
                </div>
                <div class="input-contact">
                    <input type="text" minlength="2" max="40" required>
                    <label for="apellido-contacto"><i class="fas fa-user-plus"></i> Apellido:</label>
                </div>
            </div>
            <div class="input-contact">
                <input type="text" minlength="8" maxlength="40" required>
                <label for="email-contacto"><i class="fas fa-envelope"></i> Email:</label>
            </div>
            <div class="input-contact">
                <textarea id="message" rows="8" minlength="4" maxlength="150"></textarea>
                <label for="message"><i class="fas fa-comments"></i> Mensaje:</label>
            </div>
            <button class="btn-contact" type="submit">Enviar <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</main>
