
<footer>
    <section class="footer">
        <p class="p1-footer">
            <i>- Desarrollado por <b>Federico Gonzalo Prieto</b>-</i>
        </p>
        <div class="social">
            <a [href]="service.data.instagram" target="_blank"><i class="fab fa-instagram"></i></a>
            <a [href]="service.data.facebook" target="_blank"><i class="fab fa-facebook"></i></a>
            <a [href]="service.data.email" target="_blank"><i class="fas fa-envelope"></i></a>
            <a href="tel:1551799647" target="_blank"><i class="fas fa-phone"></i></a>
        </div>
        <ul class="list">
            <li>
                <a routerLink="home">Home</a>
            </li>
            <li>
                <a routerLink="nosotros">Nosotros</a>
            </li>
            <li>
                <a routerLink="galeria">Galería</a>
            </li>
            <li>
                <a routerLink="contacto">Contacto</a>
            </li>
            <li>
                <a routerLink="login">Login</a>
            </li>
        </ul>
        <p class="p-footer">
            <i>© {{year}} Copyright - Todos los derechos reservados.</i>
        </p>
    </section>
</footer>  
